
<div class="container">
    <form class="form mat-elevation-z9">
        <div class="cabecalhoRegistro">
            <img src="assets/img/logo_transp.png" alt="">
            <h3>CADASTRO</h3>
        </div>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input 
                name="Nome" 
                [formControl]="nome"
                required
                matInput 
                placeholder="Ex. joao da Silva"
            >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input 
                name="Email"
                [formControl]="email" 
                required
                matInput 
                placeholder="Ex. joao@email.com"
            >
        </mat-form-field>

        <mat-radio-group class="full-width radio" aria-label="Select an option">
            <mat-radio-button 
                class="radio" 
                value="1"
            >Pessoa Fisica (CPF)</mat-radio-button>
            <mat-radio-button 
                class="radio" 
                value="2"
            >Pessoa Jurídica (CNPJ)</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>CPF</mat-label>
            <input 
                name="inscricao" 
                
                [formControl]="inscricao"
                required
                matInput 
                placeholder="Ex. 123.456.789.00"
            >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
                [(ngModel)]="register.password"
                name="password" 
                required
                matInput 
                type="password" 
                placeholder="Ex. ****"
            >
        </mat-form-field>
        <div class="relative">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirme sua senha</mat-label>
                <input 
                    [(ngModel)]="passwordConfirm" 
                    name="passwordConfirm"
                    required
                    matInput 
                    type="password" 
                    placeholder="Ex. ****"
                >
            </mat-form-field>
            <span *ngIf="!validaSenha()" class="error"> Campos devem ser iguais!!! </span>
        </div>
        <button [disabled]="!validaCampos()" class="full-width mat-elevation-z5" mat-stroked-button >Cadastrar</button>

        <a class="register" mat-button (click)="login()" >Já possui conta? Faça o Login</a>
    </form>
</div>
