
<div class="container">
    <form class="form mat-elevation-z9">
        <div class="cabecalhoRegistro">
            <h3>CADASTRO</h3>
        </div>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input 
                [(ngModel)]="register.name"
                name="Nome" 
                [formControl]="nome"
                required
                matInput 
                placeholder="Ex. joao da Silva"
            >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input 
                [(ngModel)]="register.email"
                name="Email"
                [formControl]="email" 
                required
                matInput 
                placeholder="Ex. joao@email.com"
            >
        </mat-form-field>

        <mat-radio-group 
            class="full-width radio" 
            (change)="ajustaInscricao()" 
            aria-label="Select an option"  
            [(ngModel)]="rbInscricao" 
            name="groupBut"
        >
            <mat-radio-button
                checked
                class="radio" 
                value="CPF"
            >Pessoa Fisica (CPF)</mat-radio-button>
            <mat-radio-button 
                class="radio" 
                value="CNPJ"
            >Pessoa Jurídica (CNPJ) </mat-radio-button>
        </mat-radio-group>

        <mat-form-field  class="full-width" appearance="outline">
            <mat-label >{{tipoInscricao}}</mat-label>
            <input
                [(ngModel)]="inscricao" 
                name="inscricao" 
                [mask]= mask
                required
                matInput 
                [placeholder]= placeholder
            >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
                [(ngModel)]="register.password"
                name="password" 
                required
                matInput 
                type="password" 
                placeholder="Ex. ****"
            >
        </mat-form-field>
        <div class="relative">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirme sua senha</mat-label>
                <input 
                    [(ngModel)]="passwordConfirm" 
                    name="passwordConfirm"
                    required
                    matInput 
                    type="password" 
                    placeholder="Ex. ****"
                >
            </mat-form-field>
            <span *ngIf="!validaSenha()" class="error"> Campos devem ser iguais!!! </span>
        </div>
        <button (click)="newRegister()" [disabled]="!validaCampos()" class="full-width mat-elevation-z5" mat-stroked-button >Cadastrar</button>

        <a class="register" mat-button (click)="login()" >Já possui conta? Faça o Login</a>
    </form>
</div>
