<h1 class="container m-4 pt-5"> Escolha o tipo de Documento</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><br></li>
</ol>

<div class="row m-3 ">
    <div class="col-md-4 mb-4" >
        <div class="card">
            <img src="../../../../assets/img/cad_rg.svg" alt="" class="card-img-top">
            <div class="card-body">
                <button class="btn btn-dark" (click)="post('rg')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card ">
            <img src="../../../../assets/img/cad_cpf.svg" alt="" class="card-img-top">
            <div class="card-body">
                <button class="btn btn-dark" (click)="post('cpf')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_eleitor.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button class="btn btn-dark" (click)="post('eleitor')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_casamento.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button class="btn btn-dark" (click)="post('casamento')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_nascimento.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button class="btn btn-dark" (click)="post('nascimento')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_motorista.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button class="btn btn-dark" (click)="post('motorista')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_trabalho.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button class="btn btn-dark" (click)="post('trabalho')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_endereco.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button class="btn btn-dark" (click)="post('endereco')">Cadastrar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_outros.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button class="btn btn-dark" (click)="post('outros')">Cadastrar</button>
            </div>
        </div>
    </div>
</div>