<h1 class="container m-4 pt-5"> Escolha o tipo de Documento</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><br></li>
</ol>

<div class="row m-3 ">
    <div class="col-md-4 mb-4" >
        <div class="card">
            <img src="../../../../assets/img/cad_rg.svg" alt="" class="card-img-top">
            <div class="card-body">
                <button *ngIf="!boleanos[7]" class="btn btn-dark" (click)="post('rg')">Cadastrar</button>
                <button *ngIf="boleanos[7]" class="btn btn-success" (click)="post('rg')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card ">
            <img src="../../../../assets/img/cad_cpf.svg" alt="" class="card-img-top">
            <div class="card-body">
                <button *ngIf="!boleanos[4]" class="btn btn-dark" (click)="post('cpf')">Cadastrar</button>
                <button *ngIf="boleanos[4]" class="btn btn-success" (click)="post('cpf')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_eleitor.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button *ngIf="!boleanos[8]" class="btn btn-dark" (click)="post('eleitor')">Cadastrar</button>
                <button *ngIf="boleanos[8]" class="btn btn-success" (click)="post('eleitor')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_casamento.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button *ngIf="!boleanos[2]" class="btn btn-dark" (click)="post('casamento')">Cadastrar</button>
                <button *ngIf="boleanos[2]" class="btn btn-success" (click)="post('casamento')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_nascimento.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button *ngIf="!boleanos[3]" class="btn btn-dark" (click)="post('nascimento')">Cadastrar</button>
                <button *ngIf="boleanos[3]" class="btn btn-success" (click)="post('nascimento')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_motorista.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button *ngIf="!boleanos[0]" class="btn btn-dark" (click)="post('motorista')">Cadastrar</button>
                <button *ngIf="boleanos[0]" class="btn btn-success" (click)="post('motorista')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_trabalho.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button *ngIf="!boleanos[1]" class="btn btn-dark" (click)="post('trabalho')">Cadastrar</button>
                <button *ngIf="boleanos[1]" class="btn btn-success" (click)="post('trabalho')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_endereco.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button *ngIf="!boleanos[5]" class="btn btn-dark" (click)="post('endereco')">Cadastrar</button>
                <button *ngIf="boleanos[5]" class="btn btn-success" (click)="post('endereco')">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../../assets/img/cad_outros.svg" alt="" class="card-img-top">
            <div class="card-body ">
                <button *ngIf="!boleanos[6]" class="btn btn-dark" (click)="post('outros')">Cadastrar</button>
                <button *ngIf="boleanos[6]" class="btn btn-success" (click)="post('outros')">Atualizar</button>
            </div>
        </div>
    </div>
</div>