<div class="container w-75">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="row">
                    <div class="col-11">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Cadastro de Carteira de Motoristaa</h1>
                        </div>
                    </div>
                    <div class="col-1" *ngIf="hasMotorista">
                        <button (click)="delete()"  class="btn btn-danger btn-user btn-block text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <form class="user" [formGroup]="motorista">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="numero" class="form-label">Numero da Carteira</label>
                            <input type="text" class="form-control form-control-user" id="numero"
                                placeholder="Ex. 123456" name="numero" formControlName="numberDocument">
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="categoria" class="form-label">Categoria</label>
                            <input type="text" class="form-control form-control-user" id="categoria"
                                placeholder="Ex. AB" name="numero" formControlName="categoria">
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="primeiraHabilitacao" class="form-label">Primeira Habilitação</label>
                            <input type="date" class="form-control form-control-user" id="primeiraHabilitacao"
                                name="numero" formControlName="primeiraHabilitacao">
                        </div>
                        <div class="col-sm-6">
                            <label for="dataValidade" class="form-label">Validade</label>
                            <input type="date" class="form-control form-control-user" id="dataValidade" name="numero"
                                formControlName="validade">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="permissao" class="form-label">Permissão</label>
                            <input type="text" class="form-control form-control-user" id="permissao"
                                placeholder="Ex. #####" name="numero" formControlName="permissao">
                        </div>
                        <div class="col-sm-6">
                            <label for="acc" class="form-label">ACC</label>
                            <input type="text" class="form-control form-control-user" id="acc" placeholder="Ex. 123456"
                                name="numero" formControlName="acc">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="observacao" class="form-label">Observações</label>
                        <input type="text" class="form-control form-control-user" id="observacao"
                            placeholder="Ex. Observação" name="numero" formControlName="observacoes">
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="foto1" class="form-label">Foto do Documento (frente)</label>
                            <input type="file" class="form-control form-control-user" id="foto1">
                        </div>
                        <div class="col-sm-6">
                            <label for="foto2" class="form-label">Foto do Documento (verso)</label>
                            <input type="file" class="form-control form-control-user" id="foto2">
                        </div>
                    </div>
                    <div *ngIf="!hasMotorista">
                        <button (click)="post()" [disabled]="!this.motorista.valid"
                            class="btn btn-primary btn-user btn-block">CADASTRAR</button>
                    </div>
                    <div *ngIf="hasMotorista">
                        <button (click)="put()" [disabled]="!this.motorista.valid"
                            class="btn btn-success btn-user btn-block">ATUALIZAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>