<div class="container w-75">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Cadastro de Carteira de Motorista</h1>
                </div>
                <form class="user">

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="numero" class="form-label">Numero da Carteira</label>
                            <input type="text" class="form-control form-control-user" id="numero" placeholder="Ex. 123456">
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="categoria" class="form-label">Categoria</label>
                            <input type="text" class="form-control form-control-user" id="categoria" placeholder="Ex. AB">
                        </div>
                        
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="primeiraHabilitacao" class="form-label">Primeira Habilitação</label>
                            <input type="date" class="form-control form-control-user" id="primeiraHabilitacao" placeholder="Ex. 01/01/2020">
                        </div>
                        <div class="col-sm-6">
                            <label for="dataValidade" class="form-label">Validade</label>
                            <input type="date" class="form-control form-control-user" id="dataValidade" placeholder="Ex. 01/01/2020">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="permissao" class="form-label">Permissão</label>
                            <input type="text" class="form-control form-control-user" id="permissao" placeholder="Ex. #####">
                        </div>
                        <div class="col-sm-6">
                            <label for="acc" class="form-label">ACC</label>
                            <input type="text" class="form-control form-control-user" id="acc" placeholder="Ex. 123456">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="observacao" class="form-label">Observações</label>
                        <input type="text" class="form-control form-control-user" id="observacao" placeholder="Ex. Observação">
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="foto1" class="form-label">Foto do Documento (frente)</label>
                            <input type="file" class="form-control form-control-user" id="foto1">
                        </div>
                        <div class="col-sm-6">
                            <label for="foto2" class="form-label">Foto do Documento (verso)</label>
                            <input type="file" class="form-control form-control-user" id="foto2">
                        </div>
                    </div>

                    <a href="login.html" class="btn btn-primary btn-user btn-block">CADASTRAR</a>
                </form>
            </div>
        </div>
    </div>
</div>