<div class="container w-75">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="row">
                    <div class="col-11">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Cadastro de Carteira de Trabalho</h1>
                        </div>
                    </div>
                    <div class="col-1" *ngIf="hasTrabalho">
                        <button (click)="delete()" class="btn btn-danger btn-user btn-block text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <form class="user" [formGroup]="trabalho">

                    <div class="form-group">
                        <label for="numero" class="form-label">Numero da Carteira</label>
                        <input type="text" class="form-control form-control-user" id="numero" placeholder="Ex. 123456"
                            name="numero" formControlName="numberDocument">
                    </div>

                    <div class="form-group">
                        <label for="pis" class="form-label">PIS</label>
                        <input type="text" class="form-control form-control-user" id="pis" placeholder="Ex. 123456"
                            name="numero" formControlName="pis">
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="serie" class="form-label">Serie</label>
                            <input type="text" class="form-control form-control-user" id="serie" placeholder="Ex. ABC"
                                name="numero" formControlName="serie">
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="uf" class="form-label">UF</label>
                            <select class="form-control form-control-user" id="uf" name="numero" formControlName="uf">
                                <option selected value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="foto1" class="form-label">Foto do Documento (frente)</label>
                            <input type="file" class="form-control form-control-user" id="foto1">
                        </div>
                        <div class="col-sm-6">
                            <label for="foto2" class="form-label">Foto do Documento (verso)</label>
                            <input type="file" class="form-control form-control-user" id="foto2">
                        </div>
                    </div>

                    <div *ngIf="!hasTrabalho">
                        <button (click)="post()" [disabled]="!this.trabalho.valid"
                            class="btn btn-primary btn-user btn-block">CADASTRAR</button>
                    </div>
                    <div *ngIf="hasTrabalho">
                        <button (click)="put()" [disabled]="!this.trabalho.valid"
                            class="btn btn-success btn-user btn-block">ATUALIZAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>