<div class="container w-75">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Cadastro de Certidão de Nascimento</h1>
                </div>
                <form class="user">

                    <div class="form-group row">
                        <div class="col-sm-9 mb-3 mb-sm-0">
                            <label for="endereco" class="form-label">Endereço</label>
                            <input type="text" class="form-control form-control-user" id="endereco" placeholder="Ex. 123456">
                        </div>
                        <div class="col-sm-3">
                            <label for="numero" class="form-label">Numero</label>
                            <input type="text" class="form-control form-control-user" id="numero" placeholder="Ex. 123.456.789-09">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="complemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control form-control-user" id="complemento" placeholder="Ex. próximo a farmácia ">
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <label for="cep" class="form-label">CEP</label>
                            <input type="text" class="form-control form-control-user" id="cep" placeholder="Ex. 88.900-000">
                        </div>
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <label for="uf" class="form-label">UF</label>
                            <select class="form-control form-control-user" id="uf">
                                <option selected>Acre</option>
                                <option>Alagoas</option>
                                <option>Amapá</option>
                                <option>Amazonas</option>
                                <option>Bahia</option>
                                <option>Ceará</option>
                                <option>Distrito Federal</option>
                                <option>Espírito Santo</option>
                                <option>Goiás</option>
                                <option>Maranhão</option>
                                <option>Mato Grosso</option>
                                <option>Mato Grosso do Sul</option>
                                <option>Minas Gerais</option>
                                <option>Pará</option>
                                <option>Paraíba</option>
                                <option>Paraná</option>
                                <option>Pernambuco</option>
                                <option>Piauí</option>
                                <option>Rio de Janeiro</option>
                                <option>Rio Grande do Norte</option>
                                <option>Rio Grande do Sul</option>
                                <option>Rondônia</option>
                                <option>Roraima</option>
                                <option>Santa Catarina</option>
                                <option>São Paulo</option>
                                <option>Sergipe</option>
                                <option>Tocantins</option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <label for="uf" class="form-label">UF</label>
                            <input type="text" class="form-control form-control-user" id="uf" placeholder="Ex. 88.900-000">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="foto1" class="form-label">Foto do Documento (frente)</label>
                            <input type="file" class="form-control form-control-user" id="foto1">
                        </div>
                        <div class="col-sm-6">
                            <label for="foto2" class="form-label">Foto do Documento (verso)</label>
                            <input type="file" class="form-control form-control-user" id="foto2">
                        </div>
                    </div>

                    <a href="login.html" class="btn btn-primary btn-user btn-block">CADASTRAR</a>
                </form>
            </div>
        </div>
    </div>
</div>