<div class="container">
    <h2>PARÁGRAFO PRIMEIRO – DO CONSENTIMENTO</h2>
    <p>Ao assinar este termo o TITULAR concorda que a CONTROLADORA, proceda com o tratamento de seus dados. <br><br>

        Entende-se por tratamento de acordo com o artigo 5º inciso X, a coleta, produção, recepção, classificação, 
        utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, 
        eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.
        
    </p>    
    <h2>PARÁGRAFO SEGUNDO – DADOS PESSOAIS</h2>
    <p>
        Poderão ser tratados mediante anuência expressa do titular/ responsável os seguintes dados pessoais, pelo(a) controlador(a):<br><br>
        -	Nome, endereço, status civil, e-mail, telefone, cpf, rg, carteira de motorista, carteira de trabalho, certidão de nascimento,
        certidão de casamento, entre outros cadastrados pelo titular da conta.
    </p>     
    <h2>PARÁGRAFO TERCEIRO – FINALIDADE DO TRATAMENTO</h2>
    <p>
        Em atendimento ao artigo 8º §4 este termo guarda finalidade determinada, sendo que os dados serão utilizados especificamente para fins de: <br><br>

    -	Cadastro. <br>
    -	Diagnóstico técnico inicial em seu aspecto pedagógico, cognitivo, físico e social. <br>
    -	Elaboração a aplicação de testes de aptidão.  <br>
    -	Elaboração de relatórios e pareceres informativos.  <br>

    </p>    
    <h2>PARÁGRAFO QUARTO – SEGURANÇA DOS DADOS</h2>
    <p>
        A Controladora responsabiliza-se pela manutenção de medidas de segurança, 
        técnicas e administrativas aptas a proteger os dados pessoais de acessos não 
        autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, 
        comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>

    <h2>PARÁGRAFO QUINTO – COMPARTILHAMENTO DOS DADOS</h2>
    <p>
        A Controladora responsabiliza-se pela manutenção de medidas de segurança, 
        técnicas e administrativas aptas a proteger os dados pessoais de acessos não 
        autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, 
        comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>
    
</div>