<div class="row m-5 p-5">
    <div class="col-sm-4">
        <div class="card bg-light">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">Empresa01</div>
                    <div class="col-sm-6">CNPJ: 11.111.111/0001-91</div>
                </div>
            </div>
            <div class="card-body ">
                <p class="card-text">Enviou uma solicitação para acesso aos Documentos</p>
                <p class="card-text">Data do Envio: 23/09/2022</p>
                <p class="card-text">Email: empresa01@empresa01.com</p>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-danger">Recusar</a>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end">
                        <a href="#" class="btn btn-primary">Permitir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>