<div class="row m-5 p-5" *ngIf="hasRequest">
    <h1>Você não possui nenhum pedido</h1>
</div>
<div class="row m-5 p-5">
    <div class="col-sm-6" *ngFor="let req of requestAwait">
        <div class="card bg-light mb-4">
            <div class="card-header">
                <div>
                    <div>
                        <h1><b>{{req['userCompany']['name']}}</b></h1>
                    </div>
                    <div> CNPJ: <b>{{req['userCompany']['cpf']}}</b></div>
                </div>
            </div>
            <div class="card-body ">
                <p class="card-text">Solicitação de acesso aos seus documentos</p>
                <p class="card-text">Data do Envio: <b>{{dataFormat(req['date'])}}</b></p>
                <p class="card-text">Email: <b>{{req['userCompany']['email']}}</b></p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-danger"
                            (click)="put(req['date'], 'REFUSED', req['userCompany']['id'], req['id'])">Recusar</button>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end">
                        <button class="btn btn-primary"
                            (click)="put(req['date'], 'APPROVED', req['userCompany']['id'], req['id'])">Permitir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>