<div class="container w-75">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Cadastro de RG</h1>
                </div>
                <form class="user">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="numero" class="form-label">Numero do RG</label>
                            <input type="text" class="form-control form-control-user" id="numero" placeholder="Ex. 123456">
                        </div>
                        <div class="col-sm-6">
                            <label for="orgaoExpedidor" class="form-label">Orgão Expedidor</label>
                            <input type="text" class="form-control form-control-user" id="orgaoExpedidor" placeholder="Ex. SSP/SC">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                            <input type="date" class="form-control form-control-user" id="dataNascimento" placeholder="Ex. 01/01/2020">
                        </div>
                        <div class="col-sm-6">
                            <label for="dataExpedicao" class="form-label">Data de Expedição</label>
                            <input type="date" class="form-control form-control-user" id="dataExpedicao" placeholder="Ex. 01/01/2020">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="naturalidade" class="form-label">Naturalidade</label>
                        <input type="text" class="form-control form-control-user" id="naturalidade" placeholder="Ex. São Paulo">
                    </div>
                    <div class="form-group">
                        <label for="nomeMae" class="form-label">Nome da Mãe</label>
                        <input type="text" class="form-control form-control-user" id="nomeMae" placeholder="Ex. Maria da Silva">
                    </div>
                    <div class="form-group">
                        <label for="nomePai" class="form-label">Nome do Pai</label>
                        <input type="text" class="form-control form-control-user" id="nomePai" placeholder="Ex. João da Silva">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="foto1" class="form-label">Foto do Documento (frente)</label>
                            <input type="file" class="form-control form-control-user" id="foto1">
                        </div>
                        <div class="col-sm-6">
                            <label for="foto2" class="form-label">Foto do Documento (verso)</label>
                            <input type="file" class="form-control form-control-user" id="foto2">
                        </div>
                    </div>
                    <a href="login.html" class="btn btn-primary btn-user btn-block">CADASTRAR</a>
                </form>
            </div>
        </div>
    </div>
</div>